body,
p,
h1,
h5,
h4 {
    color: orange;
    text-align: center;
}

.activeCharacter {
    color: white;
    text-align: center;
    font-size: 30px;
}

.CharacterHint {
    color: white;
    text-align: center;
    font-size: 20px
}

body {
    background: url("/Users/davidpohlman/Desktop/pennlps/assignment/Word-Guess-Game/assets/images/gotheader.jpg");
}

.guessesContainer {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    margin-left: 100px;
}

.timesWonContainer {
    width: 100px;
    height: 100px;
    float: right;
    text-align: center;
    margin-right: 100px;
}

.hintContainer {
    width: 300px;
    height: 400px;
    float: left;
    text-align: center;
    margin-right: 100px;
    margin-top: 150px;
    border-color: yellow 10px;
}

.answerCharacterContainer {
    width: 300px;
    height: 400px;
    float: right;
    text-align: center;
    margin-left: 100px;
    margin-top: 150px;
}

.lettersGuessedContainer {
    width: 300px;
    height: 150px;
    float: right;
    text-align: center;
    margin-bottom: -40px;
    margin-right: 200px;

}